/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: center;
    margin: 20px 0;
}

/* Responsive text sizes */
h1 {
    font-size: 8vw;
}

h2 {
    font-size: 6vw;
}

h3 {
    font-size: 4vw;
}

h4,
h5,
h6 {
    font-size: 3vw;
}

/* Image styles */
img {
    width: 75%;
    height: auto;
}

/* Media queries for fine-tuning */
@media (max-width: 768px) {
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4.5vw;
    }

    h4,
    h5,
    h6 {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 6vw;
    }

    h4,
    h5,
    h6 {
        font-size: 5vw;
    }

    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    h4,
    h5,
    h6 {
        font-size: 2vw;
    }
}

/* Countdown */
countdownDate {
    display: none;
}